[buildout]
parts =  
    instance
    zopepy

extends = 
    http://dist.plone.org/release/4.1.2/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.1?plone=4.1.2
find-links =
    http://dist.plone.org/release/4.1.2
    http://dist.plone.org/thirdparty
extensions = 
    mr.developer
    buildout.dumppickedversions

auto-checkout = *
sources = sources
versions = versions
develop =

[versions]
PIL = 1.1.6

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage

eggs =
    PIL
    Plone
    Products.Ploneboard
    dexterity.membrane
    collective.blogging
    sc.social.like
    redturtle.video

zcml =

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[sources]
dexterity.membrane = svn http://svn.plone.org/svn/collective/dexterity.membrane/trunk

