[buildout]
parts =  
    instance
    zopepy

extends = 
    http://dist.plone.org/release/4.1.2/versions.cfg
find-links =
    http://dist.plone.org/release/4.1.2
    http://dist.plone.org/thirdparty
extensions = 
    mr.developer
    buildout.dumppickedversions
sources = sources
versions = versions
develop =

[versions]

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage

eggs =
    PIL
    Plone
    Products.remember

zcml =

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[sources]
#collective.developermanual = git git://github.com/collective/collective.developermanual.git

